*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(250, 250, 248);
}

table{
    margin:auto;
    margin-top: 15px;
}
th{
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 25px;
    background-color: rgba(135,206,250, 0.25);
}

td{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
}






#buttons{
    text-align: center;
    padding-top: 10px;
    user-select: none;
}


/*新建按钮*/
#new{
    text-align: center;
    margin:10px;
    margin-right: 40px;
    width: 90px;
    height: 45px;
    font-size: 20px;
    color: rgb(245, 245, 242);
    border-radius: 25px;
    border-color:transparent;
    background:linear-gradient(90deg,rgb(128, 137, 241),rgb(175, 80, 157));
    background-size: 110%;
    background-position: -5px;
}
#new:hover{
    background:linear-gradient(90deg,rgb(128, 137, 241),rgb(175, 80, 157));
    background-size: 110%;
    background-position: -5px;
}
#new:active{
    background:linear-gradient(90deg,rgb(119, 128, 222),rgb(160, 74, 144));
    background-size: 110%;
    background-position: -5px;

}



/*输入时间*/
#chooserLabel{
    display: inline-block;
    margin-top: 25vh;
    background-color: white;
    width: 400px;
}

/*输入框*/
input{
    width: 30px;
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#title{
    margin-left: 10px;
    margin-top: 20px;
    width:200px;
}
#year{
    width: 50px;
}
#hour{
    margin-left: 20px;
}




/*设置按钮*/
#settings{
    text-align: center;
    margin:10px;
    margin-right: 50px;
    width: 110px;
    height: 45px;
    font-size: 20px;
    color: rgb(29, 95, 238);
    border-radius: 25px;
    background-color: rgb(235, 235, 232);
    border-color:transparent;
}
#settings:hover{
    background-color: rgb(235, 235, 232);
}
#settings:active{
    background-color: rgb(220, 220, 218);
}

/*背景div设置*/
.backgrounds{
    cursor: pointer;
    position: fixed;
    top: 0;
    text-align: center;
    display: none;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
}

/*所有确认、取消按钮*/
.ok_CancelBtns{
    user-select: none;
    text-align: center;
    margin:10px;
    width: 60px;
    height: 30px;
    font-size: 15px;
    color: rgb(0,0,0);
    border-radius: 15px;
    background-color: rgb(235, 235, 232);
    border-color:transparent;
    border: solid 1px black;
}
.ok_CancelBtns:hover{
    background-color: rgb(235, 235, 232);
}
.ok_CancelBtns:active{
    background-color: rgb(220, 220, 218);
}



/*新建页提交&完成*/
#commit{
    margin-right: 15px;
}
#closeChooser{
    margin-left: 15px;
}

/*设置页背景*/
.settingDiv{
    justify-content: center;
    align-items: center;
    display: flex;
}

.settingBtn{
    margin: 0 auto;
    text-align: justify;
    font-size: 15px;
    width: 200px;
    height: 40px;
    user-select: none;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

#clearBtn{
    margin-top: 10vw;
}

#clearLabel{
    user-select: none;
    text-align: center;
    width: 300px;
    height: 230px;
    background-color:rgb(246, 230, 210);
    display: inline-block;
    font-size: 18px;
    margin-top: 25vh;
}

#confirmClear{
    margin-top: 20px;
    margin-right: 15px;
}

#cancelClear{
    margin-top: 20px;
    margin-left: 15px;
}
